.navbar {
    overflow: hidden;
    height: 120px;
    padding: 1.5em;
    background-color: #4056A1;
    color: #FFFFFF;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar span {
    font-family: 'Bungee', cursive;
}

.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  
.navbar p {
    display: inline;
  }

.chevron {
  color: aliceblue;
  padding: 0.5em;
  align-self: flex-end;
}

.lower-header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
  
/* .image {
    width: 50vw;
    background-color: magenta;
    padding: 100px;
    box-sizing: content-box;
    border: 10px solid mediumorchid;
    border-radius: 50%;
    margin: 100px;
}
 */
