.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container form button {
    background-color: #4056A1;
    font-family: 'Bungee', cursive;
    color: #FFFFFF;
    text-align: center;
}

.new-tweet {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 1em;
    /* padding: 0 10em 10em 10em */
}

.new-tweet #tweet-text {
    background-color: #f4f1ec;
    border-width: 0;
    border-bottom-width: 8px;
    margin-bottom: 20px;
    width: 100%;
  }

.lower-form {
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', sans-serif;
    width: 100%;
}


textarea {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0;
}


#humming-about {
    padding: 1em;
}

.red-font {
    color: red;
}

.username {
    color: aliceblue;
}